#weather-card{

    width: 350px;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);

}

.ajax-section {
    margin: 70px 0 20px;
  }

  
.city {
    position: relative;
    padding: 40px 10% 0 10%;
    background: var(--text_light);
    color: var(--text_med);
  }
  

  
.weather-description {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
.city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
  }
  
.city sup {
    font-size: 0.5em;
  }
  
.city-name sup {
    padding: 0.2em 0.8em;
    margin-left:.2em;
    border-radius: 30px;
    color: var(--text_light);
    background: orange;
  }
  
.city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }