@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@100;300;700&family=Open+Sans:wght@300&family=Playfair+Display&display=swap");

@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

:root {
  --light-grey-background: #f1f1f1;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", "Cardo", "Open Sans", "Playfair Display",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

/* Header styling */
#header {
  background-color: #f1f1f1;
  padding: 3rem 0 0 0;
}

.jumbo-title {
  text-transform: uppercase;
  color: #de5935;
  text-align: center;
  margin: 0px;
  font-family: "Josefin Sans";
  color: #de5935;
  font-size: 10vw;
  font-weight: 900;
  padding-top: 120px;
}

/* Footer styling */
#footer {
  font-family: Cardo;
  background-color: #5ac3b0;
  color: white;
  text-align: center;
}

.footer-img {
  padding: 10px;
}

.footer-img:hover {
  opacity: 0.85;
}

.footer-content {
  padding-bottom: 10px;
  padding: 10px;
}

.footer-content {
  background-color: #5ac3b0;
  text-align: center;
  color: white;
  font-family: "Cardo";
  font-size: large;
  font-weight: bold;
}

.footer-img {
  padding: 10px;
  padding-top: 5px;
}

.footer-img:hover {
  opacity: 0.8;
}

#section__search {
  padding: 3rem 0 2rem 0;
  background-color: var(--light-grey-background);
}

#section__reddit {
  padding: 2rem 0 2rem 0;
  background-color: var(--light-grey-background);
  font-family: "Playfair Display";
}

#section__news {
  padding: 2rem 0 2rem 0;
  background-color: var(--light-grey-background);
}

.section-headings {
  margin-bottom: 1.2rem;
}

/* Navbar styling */
#nav {
  padding: 20px;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #f7cd46;
}

.nav-img {
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-img:hover {
  opacity: 0.7;
}

/* Search bar styling */
#section__search .form-control {
  font-family: Open Sans;
  font-size: large;
  margin: 0;
  border: 10px solid #5ac3b0;
  height: 60px;
  width: 80%!important;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #ffffff;
}

#search-button, #filter-button {
  margin: 0;
  display: block;
  font-family: Josefin Sans;
  font-size: larger;
  border: 10px solid #5ac3b0;
  background-color: #5ac3b0;
  color: white;
}

#section__search .form-control:hover {
  border-color: #f7cd46;
  box-shadow: 0 0 10px #f7cd46;
}

#search-button #filter-button:hover {
  border-color: #f7cd46;
  box-shadow: 0 0 10px #f7cd46;
  background-color: #f7cd46;
}

/* Footer modal styling */
.modal-header {
  background-color: #5ac3b0;
  width: 100%;
}

.modal-content {
  align-items: center;
  font-family: Cardo;
  text-align: center;
  text-decoration: none !important;
  color: black;
}

.modal-content ul li a{
  text-decoration: none;
}
.modal-content li {
  list-style: none;
}

.modal-button {
  background-color: #de5935 !important;
  border-color: #de5935 !important;
  font-size: larger !important;
  font-family: Open Sans !important;
  font-weight: bold !important;
  border-radius: 15px;;
}

.modal-button:hover {
  
}